<h4 class="card">Medicine Offers</h4>
<div class="card">
   <p> <img class="img-size" src="/../assets/images/offer30.jpeg" alt="">Get up to 30% off on your first medicine order with a minimum order value of ₹10999.  </p>
</div>
<div class="card">
    <p> <img class="img-size" src="/../assets/images/offer20.png" alt="">Get up to 20% off on your first medicine order with a minimum order value of ₹1999. </p>
 </div>
 <div class="card">
    <p> <img class="img-size" src="/../assets/images/offer10.png" alt="">Get up to 25% off on your first medicine order with a minimum order value of ₹5999. </p>
 </div>
 <div class="card">
    <p> <img class="img-size" src="/../assets/images/mobikwik.png" alt="">Pay with Mobikwik and get cashback up to ₹600 till 31st August 2021 </p>
 </div>
 <div class="card">
    <p> <img class="img-size" src="/../assets/images/paytm.png" alt="">Pay with PayTM and get cashback up to ₹800 till 31st August 2021 </p>
 </div>
